body{
    background:#E4E4E4;
}
.container{
    background:#019587;
}
.left-nav{
    background:#263035;
}

.left-nav a{
    color:#fff;
}
.left-nav a.active{
    background: #212525 !important;
    color: #fff !important;
}
.left-nav a:hover{
    background: #212525 !important;
    color: #fff !important;
}