body{
    background:#E8E8E8;
}
.container{
    background:#F34743;
}

.left-nav{
    background:#F4F4F4;
}

.left-nav a{
    color:#686a76;
}
.left-nav a.active{
    background: #FEFEFE !important;
    color: #F34743;
}
.left-nav a:hover{
    background: #FEFEFE !important;
    color: #F34743;
}