<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>充值商户后台</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
{{/*    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />*/}}
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="../static/x-admin/css/font.css">
    <link rel="stylesheet" href="../static/x-admin/css/xadmin.css">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script src="../static/x-admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/x-admin/js/xadmin.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.5.1.min.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        // 是否开启刷新记忆tab功能
        // var is_remember = false;
    </script>
</head>

<body>
<div class="layui-fluid">
    <div class="layui-card">
{{/*        <div class="layui-card-header">首页 / 分组充值统计</div>*/}}
        <div class="layui-card-body">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">开始时间：</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input times" autocomplete="off" name="starttime" id="starttime">
                    </div>

                    <label class="layui-form-label">结束时间：</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input times" autocomplete="off" name="endtime" id="endtime">
                    </div>
                    <button class="layui-btn" lay-submit lay-filter="search"><i class="layui-icon layui-icon-search">搜索</i> </button>
                </div>
            </form>

            <table id="demo" lay-filter="test"></table>
        </div>
    </div>
</div>

<script type="text/html" id="toolbar">
    <button class="layui-btn layui-btn-sm" lay-event="flush"><i class="layui-icon layui-icon-refresh-3">刷新</i></button>
</script>
</body>
<script>
    layui.use('laydate', function () {
        let laydate = layui.laydate;

        laydate.render({
            elem: "#starttime",
            type: "datetime"
        })
        laydate.render({
            elem: "#endtime",
            type: "datetime"
        })
    })

    layui.use('form', function(){
        let form = layui.form;

        //监听提交
        form.on('submit(search)', function(data){
            return false;
        });
    });

    layui.use('table', function () {
        let table = layui.table;
        table.render({
            elem: "#demo",
            url: "/static/data/group-list.json",
            page: true,
            limits: [10, 20, 30, 50, 100],
            height: 480,
            cols: [[
                {field: "id", title: "ID", fixed: "left", sort: true},
                {field: "groupname", title: "分组名称", sort: true},
                {field: "rechargecount", title: "充值笔数"},
                {field: "rechargemoney", title: "充值金额", sort: true},
                {field: "income", title: "收入", fixed: "right", sort: true},
            ]],
            toolbar: "#toolbar"
        });
    })
</script>
</html>