<!doctype html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>充值商户后台</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="stylesheet" href="../static/x-admin/css/font.css">
        <link rel="stylesheet" href="../static/x-admin/css/xadmin.css">
        <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
        <script src="../static/x-admin/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../static/x-admin/js/xadmin.js"></script>
        <script type="text/javascript" src="../static/js/jquery-3.5.1.min.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="index">
        <!-- 顶部开始 -->
        <div class="container">
            <div class="logo">
                <a href="/">充值后台</a></div>
            <div class="left_open">
                <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
            </div>

            <ul class="layui-nav right" lay-filter="">
                <li class="layui-nav-item">
                    <a href="javascript:;">{{.nickName}}</a>
                    <dl class="layui-nav-child">
                        <!-- 二级菜单 -->
                        <dd>
                            <a onclick="xadmin.open('个人信息','./person.html')">个人信息</a></dd>
                        <dd>
                            <a href="./switch/login">切换帐号</a></dd>
                        <dd>
                            <a href="./logout.html">退出</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item to-index">
                    <a href="/">前台首页</a></li>
            </ul>
        </div>
        <!-- 顶部结束 -->
        <!-- 中部开始 -->
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">
                    <li>
                        <a id = "home-active" onclick="">
                            <i class="layui-icon layui-icon-console"></i>
                            <cite><strong>控制台</strong></cite>
                        </a>
                    </li>

                    <li>
                        <a onclick="xadmin.add_tab('商户密钥', './merchantKey.html')">
                            <i class="layui-icon layui-icon-password"></i>
                            <cite><strong>商户密钥</strong></cite>
                        </a>
                    </li>

                    <li>
                        <a onclick="xadmin.add_tab('比例模板', './scaleTemplete.html')">
                            <i class="layui-icon layui-icon-template"></i>
                            <cite><strong>比例模板</strong></cite>
                        </a>
                    </li>

                    <li>
                        <a onclick="xadmin.add_tab('分组列表', './groupList.html')">
                            <i class="layui-icon layui-icon-list"></i>
                            <cite><strong>分组列表</strong></cite>
                        </a>
                    </li>

                    <li>
                        <a onclick="xadmin.add_tab('分区列表', './areaList.html')">
                            <i class="layui-icon layui-icon-chat"></i>
                            <cite><strong>分区列表</strong></cite>
                        </a>
                    </li>

                    <li>
                        <a onclick="xadmin.add_tab('充值订单', './orderList.html')">
                            <i class="layui-icon layui-icon-dollar"></i>
                            <cite><strong>充值订单</strong></cite>
                        </a>
                    </li>

                    <li>
                        <a onclick="xadmin.add_tab('模拟充值', './imitateOrder.html')">
                            <i class="layui-icon layui-icon-video"></i>
                            <cite><strong>模拟充值</strong></cite>
                        </a>
                    </li>

                    <li>
                        <a onclick="xadmin.add_tab('结算管理', './settleList.html')">
                            <i class="layui-icon layui-icon-rmb"></i>
                            <cite><strong>结算管理</strong></cite>
                        </a>
                    </li>

                    <li>
                        <a onclick="xadmin.add_tab('每日充值统计', './everydayChargeCount.html')">
                            <i class="layui-icon layui-icon-survey"></i>
                            <cite><strong>每日充值统计</strong></cite>
                        </a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('分组充值统计', './groupChargeCount.html')">
                            <i class="layui-icon layui-icon-file-b"></i>
                            <cite><strong>分组充值统计</strong></cite>
                        </a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('分区充值统计', './areaChargeCount.html')">
                            <i class="layui-icon layui-icon-link"></i>
                            <cite><strong>分区充值统计</strong></cite>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <!-- <div class="x-slide_left"></div> -->
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
            <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
                <i class="layui-tab-title">
                    <li class="home">
                        <i class="layui-icon">&#xe68e;</i>控制台
                    </li>
                </i>
                <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
                    <dl>
                        <dd data-type="this">关闭当前</dd>
                        <dd data-type="other">关闭其它</dd>
                        <dd data-type="all">关闭全部</dd></dl>
                </div>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe src='./welcome.html' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                    </div>
                </div>
                <div id="tab_show"></div>
            </div>
        </div>
        <div class="page-content-bg"></div>

        <style id="theme_style">
        </style>

        <!-- 右侧主体结束 -->
        <!-- 中部结束 -->
    </body>
    <script>
        //js代码 ,关闭上一次打开的tab页面
        layui.use('element',function(){
            let $ = layui.jquery;
            let element = layui.element;//Tab的切换功能，切换事件监听等，需要依赖element模块
            let layer = layui.layer;
            let active = {
                //在这里给active绑定事件，后面可通过active调用这些事件
                tabDeleteAll:function(ids){//删除所有
                    $.each(ids,function(i,item){
                        element.tabDelete("xbs_tab",item);//ids是一个数组，里面存放了多个id，调用tabDelete方法分别删除
                    })
                }
            };

            let tabTitle = $(".layui-tab-title li");
            let ids = new Array();
            $.each(tabTitle, function (i) {
                ids[i] = $(this).attr("lay-id");
            });
            active.tabDeleteAll(ids);
        });

    </script>
</html>