<!doctype html>
<html  class="x-admin-sm">
<head>
	<meta charset="UTF-8">
	<title>游戏充值商户后台</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
{{/*    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />*/}}
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="../static/x-admin/css/font.css">
    <link rel="stylesheet" href="../static/x-admin/css/login.css">
	  <link rel="stylesheet" href="../static/x-admin/css/xadmin.css">
    <script type="text/javascript" src="../static/js/jquery-3.5.1.min.js"></script>
    <script src="../static/x-admin/lib/layui/layui.js" charset="utf-8"></script>
    <!--[if lt IE 9]>
      <script src="../static/js/html5.min.js"></script>
      <script src="../static/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-bg">
    
    <div class="login layui-anim layui-anim-up">
        <div class="message">游戏充值商户后台</div>
        <div id="darkbannerwrap"></div>
        
        <form method="post" class="layui-form" >
            <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
        </form>
    </div>

    <script>
        $(function  () {
            layui.use('form', function(){
              let form = layui.form;

              form.on('submit(login)', function(data){
                  $.ajax({
                      url:"/login",
                      data:data.field,
                      success: function (res) {
                          if (res.Code === 200) {
                              layer.msg("登录成功！")

                              window.location.href = "/index.html"
                              if (top !== window) {
                                  top.location.href = window.location.href;
                              }
                          } else {
                              alert(res.Msg)
                          }
                      },
                      error: function (res) {
                          alert("系统异常，稍后再试！")
                      }
                  })
                return false;
              });
            });
        })
    </script>
    <!-- 底部结束 -->

</body>
</html>