<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>充值商户后台</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="../static/x-admin/css/font.css">
    <link rel="stylesheet" href="../static/x-admin/css/xadmin.css">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script src="../static/x-admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/x-admin/js/xadmin.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.5.1.min.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-fluid">
{{/*    <div class="layui-row layui-col-space15">*/}}

        <div class="layui-card">
            <div class="layui-card-header"><strong>基本信息</strong></div>
            <div class="layui-card-body ">
                <table class="layui-table">
                    <tbody>
                    <tr>
                        <th><h3>登录帐号：</h3></th>
                        <td><h3>{{.userName}}</h3></td></tr>
                    <tr>
                        <th><h3>商户账户号：</h3></th>
                        <td>{{.userInfo.UserNo}}</td></tr>
                    <tr>
                        <th><h3>商户密钥：</h3></th>
                        <td><h3 id="copy-key" style="float:left;">{{.payConfigInfo.PaySecret}} </h3>
                            <button style="float:left; margin-left: 20px;" class="layui-btn layui-btn-normal layui-btn-sm" onclick="copy();">点击复制</button>
                        </td>
                    </tr>

                    <tr>
                        <th><h3>商户KEY：</h3></th>
                        <td><h3 id="copy-pay" style="float:left;">{{.payConfigInfo.PayKey}}</h3>
                            <button style="float: left; margin-left: 20px;" class="layui-btn layui-btn-normal layui-btn-sm" onclick="copy(1);">点击复制</button></td></tr>
                    <tr>
                        <th><h3>邮箱地址：</h3></th>
                        <td><h3>{{.userInfo.Email}}</h3></td></tr>
                    <tr>
                        <th><h3>银行开户名：</h3></th>
                        <td><h3>{{.bankInfo.BankAccountName}}</h3></td></tr>
                    <tr>
                        <th><h3>开户银行：</h3></th>
                        <td><h3>{{.bankInfo.BankName}}</h3></td></tr>
                    <tr>
                        <th><h3>银行卡号：</h3></th>
                        <td><h3>{{.bankInfo.BankAccountNo}}</h3></td></tr>
                    <tr>
                        <th><h3>银行编码：</h3></th>
                        <td><h3>{{.bankInfo.BankCode}}</h3></td></tr>
                    <tr>
                        <th><h3>手机号码：</h3></th>
                        <td><h3>{{.userInfo.Mobile}}</h3></td></tr>
                    </tbody>
                </table>
            </div>
{{/*        </div>*/}}
    </div>

    <style id="welcome_style"></style>

    </div>
</div>
</div>
<script>
    function copy(num) {
        let texts = document.getElementById("copy-key").innerText;
        if (num === 1) {
            texts = document.getElementById("copy-pay").innerText;
        }
        let inputs = document.createElement("input");
        inputs.value = texts;
        document.body.appendChild(inputs);
        inputs.select();
        document.execCommand('copy');
        inputs.parentNode.removeChild(inputs);
        let layer = layui.layer;
        layer.msg("复制成功", {time: 1000});
    }
</script>
</body>
</html>