<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>游戏充值商户后台</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="stylesheet" href="../static/x-admin/css/font.css">
        <link rel="stylesheet" href="../static/x-admin/css/login.css">
        <link rel="stylesheet" href="../static/x-admin/css/xadmin.css">
        <script type="text/javascript" src="../static/js/jquery-3.5.1.min.js"></script>
        <script src="../static/x-admin/lib/layui/layui.js" charset="utf-8"></script>
        <!--[if lt IE 9]>
        <script src="../static/js/html5.min.js"></script>
        <script src="../static/js/respond.min.js"></script>
        <![endif]-->
    
    <body>
        <div class="layui-fluid" style="margin-left: 30%;">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="L_username" class="layui-form-label">昵称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_username" name="username" disabled="" value="{{.userName}}" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>旧密码</label>
                        <div class="layui-input-inline">
                            <input type="password" id="L_repass" name="oldpass" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>新密码</label>
                        <div class="layui-input-inline">
                            <input type="password" id="L_pass" name="newpass" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux">6到16个字符</div></div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>确认密码</label>
                        <div class="layui-input-inline">
                            <input type="password" id="L_repass" name="repass" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item" style="margin-left: 10%;">
                        <label for="L_remark">
                            <h2 class="x-red" id="remark"></h2>
                        </label>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
                        <button class="layui-btn" lay-filter="save" lay-submit="">提交</button></div>
                </form>
            </div>
        </div>
        <script>layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                let form = layui.form,
                layer = layui.layer;

                //监听提交
                form.on('submit(save)', function(data) {
                    console.log(data);
                    //发异步，把数据提交给php
                    $.ajax({
                        url: "/person/password",
                        data: data.field,
                        success: function (res) {
                            if (res.Code === 200) {
                                layer.alert("修改成功", {
                                    icon: 6
                                },function() {
                                    // 获得frame索引
                                    var index = parent.layer.getFrameIndex(window.name);
                                    //关闭当前frame
                                    parent.layer.close(index);
                                })
                            } else {
                                // 处理修改错误的逻辑
                                $("#remark").html(res.Msg);
                            }
                        }
                    })
                    /*layer.alert("修改成功", {
                        icon: 6
                    },
                    function() {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });*/
                    return false;
                });

            });</script>

    </body>

</html>