<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>充值商户后台</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="stylesheet" href="../static/x-admin/css/font.css">
        <link rel="stylesheet" href="../static/x-admin/css/xadmin.css">
        <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
        <script src="../static/x-admin/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../static/x-admin/js/xadmin.js"></script>
        <script type="text/javascript" src="../static/js/jquery-3.5.1.min.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                {{/*<div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <blockquote class="layui-elem-quote">欢迎 {{.nickName}}：
                                <span class="x-red">充值后台</span>！当前时间:{{.currentTime}}
                            </blockquote>
                        </div>
                    </div>
                </div>*/}}
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">账户总余额
                            {{/*<span class="layui-badge layui-bg-cyan layuiadmin-badge"></span>*/}}</div>
                        <div class="layui-card-body  ">
                            <p class="layuiadmin-big-font"><h2>{{.balance}}</h2></p>
                            <p>单位：
                                <span class="layuiadmin-span-color">元
                                    {{/*<i class="layui-inline layui-icon layui-icon-face-smile-b"></i>*/}}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">可结算金额
                            {{/*<span class="layui-badge layui-bg-cyan layuiadmin-badge"></span>*/}}</div>
                        <div class="layui-card-body ">
                            <p class="layuiadmin-big-font"><h2>{{.settleAmount}}</h2></p>
                            <p>单位：
                                <span class="layuiadmin-span-color">元
                                    {{/*<i class="layui-inline layui-icon layui-icon-face-smile-b"></i>*/}}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">冻结金额
                            {{/*<span class="layui-badge layui-bg-cyan layuiadmin-badge"></span>*/}}</div>
                        <div class="layui-card-body ">
                            <p class="layuiadmin-big-font"><h2>{{.unBalance}}</h2></p>
                            <p>单位：
                                <span class="layuiadmin-span-color">元
                                    {{/*<i class="layui-inline layui-icon layui-icon-face-smile-b"></i>*/}}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">今日充值金额
                            {{/*<span class="layui-badge layui-bg-cyan layuiadmin-badge"></span>*/}}</div>
                        <div class="layui-card-body ">
                            <p class="layuiadmin-big-font"><h2>{{.todayAmount}}</h2></p>
                            <p>单位：
                                <span class="layuiadmin-span-color">元</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">分成费率</div>
                        <div class="layui-card-body ">
                            <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>微信扫码</h3>
                                        <p>
                                            <cite>96%</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>微信WAP</h3>
                                        <p>
                                            <cite>96%</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>支付宝扫码</h3>
                                        <p>
                                            <cite>96%</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>银联扫码</h3>
                                        <p>
                                            <cite>96%</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>银联WAP</h3>
                                        <p>
                                            <cite>96%</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6 ">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>银联快捷</h3>
                                        <p>
                                            <cite>96%</cite></p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">游戏接口下载</div>
                        <div class="layui-card-body ">
                            <table class="layui-table">
                                <tbody>
                                    <tr style="background-color: #CFCFCF">
                                        <th>游戏名称</th>
                                        <td>接口下载</td></tr>
                                    <tr>
                                        <th>演示例子</th>
                                        <td>x.xuebingsi.com</td></tr>
                                    <tr>
                                        <th>战神引擎</th>
                                        <td>WINNT</td></tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">名词解释</div>
                        <div class="layui-card-body ">
                            <table class="layui-table">
                                <tbody>
                                    <tr>
                                        <th>账户总金额</th>
                                        <td>
                                            商户还剩下的金额，总金额 = 可结算金额 + 冻结金额</td>
                                    </tr>
                                    <tr>
                                        <th>可结算金额</th>
                                        <td>用户此时可以提现的金额，可结算金额 = 总金额 - 冻结金额</td></tr>
                                    <tr>
                                        <th>冻结金额</th>
                                        <td>用户暂时不可以动用的金额</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <style id="welcome_style"></style>

            </div>
        </div>
        </div>
    </body>
</html>