<!doctype html>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>商戶后台</title>
  <link rel="stylesheet" type="text/css" href="../static/lib/bootstrap/css/bootstrap.min.css">
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
  <style>
    .self-tabs {
      margin-left: 1px;
      margin-right: 1px;
      text-align: center;
    }
    .first-menu-html, .second-menu-html {
      height: 30px;
      line-height: 30px;
    }
    .first-menu-html, .second-menu-html:hover {
      cursor: pointer;
    }
    .first-menu-html {
      border: 1px solid #d3d3d3;
      border-radius: 2px;
      margin-bottom: 5px;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row self-tabs">
      <div class="col-md-6 first-menu-html">
        一级菜单管理
      </div>

      <div class="col-md-6 second-menu-html">
        二级菜单管理
      </div>
    </div>
    <div class="menu-content-html">
        
    </div>
  </div>

  <script>
    function clickFirstMenuHtml() {
      $(".first-menu-html").css('background-color', 'skyblue');
      $(".second-menu-html").css('background-color', 'white');
      $(".menu-content-html").load("/jhboss/first_menu.html");
    }
    function clickSecondMenuHtml() {
      $(".second-menu-html").css('background-color', 'skyblue');
      $(".first-menu-html").css('background-color', 'white');
      $(".menu-content-html").load("/jhboss/second_menu.html");
    }
    //默认打开的是一级菜单管理页面
    $(function() {
      clickFirstMenuHtml();
    });
    $(".first-menu-html").click(function() {
      clickFirstMenuHtml();
    });
    $(".second-menu-html").click(function() {
      clickSecondMenuHtml();
    });
  </script>
</body>
</html>