<!-- JavaScript files-->
<script src="../../static/lib/jquery/jquery.min.js"></script>
<script src="../../static/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/lib/jquery.cookie/jquery.cookie.js"></script>
<!-- Main File-->
<script src="../../static/js/front.js"></script>

<script src="../../static/lib/toastr-2.1.4-7/toastr.min.js"></script>
<script type="application/javascript" src="../../static/lib/sweetalert.min.js"></script>
<script src="../../static/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="../../static/lib/bootstrap-paginator/bootstrap-paginator.min.js"></script>

<script type="application/javascript" src="../../static/js/index.js"></script>
<script src="../../static/js/login.js"></script>
<script src="../../static/js/form_validate.js"></script>
<script src="../../static/js/trade_record.js"></script>
<script src="../../static/js/withdraw_account_list.js"></script>
<script src="../../static/js/deal_excel.js"></script>
