<!doctype html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>充值商户后台</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="stylesheet" href="../../static/x-admin/css/font.css">
    <link rel="stylesheet" href="../../static/x-admin/css/xadmin.css">
</head>
<body>
<div class="layui-container">
    <div class="fly-panel">
        <div class="fly-none">
            <h2><i class="layui-icon layui-icon-face-cry"></i></h2>
            <p>您可能需要重新登录.....，或者刷新下网页!!!!!!</p>
        </div>
    </div>
</div>
</body>
</html>