<!DOCTYPE html>
<html>
<head>
    {{template "template/css.html"}}
</head>
<body>
<div class="page">
    <!-- Main Navbar-->
    {{template "template/header.html"}}
    <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav class="side-navbar">
            <!-- Sidebar Header-->
            <div class="sidebar-header d-flex align-items-center">
                <a href="/index/ui/">
                    <div class="avatar">
                        <img src="../../static/img/avatar-1.jpg" alt="..."
                             class="img-fluid rounded-circle">
                    </div>
                </a>
                <a href="#">
                    <div class="title">
                        <h1 class="h4">{{.userName}}</h1>
                        <p>欢迎您！</p>
                    </div>
                </a>
            </div>

            <!-- Sidebar Navidation Menus--><span class="heading">主菜单</span>
            <ul class="list-unstyled">
                <li><a href="/index/ui/"> <i class="icon-home"></i>首页 </a></li>
                <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse" style="color: black;"> <i
                                class="icon icon-user"></i>账户管理 </a>
                    <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                        <li><a href="/user_info/show_modify_ui">修改密码</a></li>
                        <li><a href="/user_info/show_ui">设置支付密码</a></li>
                        <li><a href="/index/show_pay_way_ui">通道配置</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#exampledropdownDropdown3" aria-expanded="false" data-toggle="collapse"> <i
                                class="icon icon-rss-feed"></i>商户管理 </a>
                    <ul id="exampledropdownDropdown3" class="collapse list-unstyled ">
                        <li><a href="/user_info/show_merchant_ui">商户列表</a></li>
                    </ul>
                </li>
                <li><a href="#exampledropdownDropdown1" aria-expanded="false" data-toggle="collapse"> <i
                                class="icon icon-presentation"></i>订单管理 </a>
                    <ul id="exampledropdownDropdown1" class="collapse list-unstyled ">
                        <li><a href="/trade/show_ui">订单记录</a></li>
                        <li><a href="/trade/show_complaint_ui">投诉列表</a></li>

                    </ul>
                </li>
                <li><a href="#exampledropdownDropdown2" aria-expanded="true" data-toggle="collapse"> <i
                                class="icon icon-bill"></i>财务管理 </a>
                    <ul id="exampledropdownDropdown2" class=" list-unstyled ">
                        <li class="active"><a href="/withdraw/show_ui">申请提现</a></li>
                        <li><a href="/multi_withdraw/show_multi_ui">批量申请提现</a></li>
                        <li><a href="/withdraw/show_list_ui">提现记录</a></li>
                        {{/*                        <li><a href="/recharge/show_recharge_list_ui">自定义记录</a></li>*/}}
                        <li><a href="/history/show_history_list_ui">资产变动明细</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="content-inner">
            <!-- Page Header-->
            <header class="page-header">
                <div class="container-fluid">
                    <h2 class="no-margin-bottom">申请提现</h2>
                </div>
            </header>
            <!-- Forms Section-->
            <section class="forms">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Basic Form-->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <form id="withdraw" class="form-horizontal">
                                        <div class="form-group row">
                                            <label class="col-sm-3  form-control-label">可提现余额</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="balance"
                                                       class="form-control" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3  form-control-label">银行名称</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="bankCode" name="bankCode" required>
                                                    <option value="">选择银行</option>
                                                    {{range $k,$v:=.bankInfo}}
                                                        <option value="{{$k}}">{{$v}}</option>
                                                    {{end}}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 form-control-label">账户名</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="accountName" name="accountName"
                                                       placeholder="必填项"
                                                       class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 form-control-label">卡号</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="cardNo" name="cardNo"
                                                       placeholder="必填项"
                                                       class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 form-control-label">开户账户类型</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="bankAccountType" name="bankAccountType"
                                                        required>
                                                    <option value="PRIVATE_DEBIT_ACCOUNT">对私借记卡</option>
                                                    <option value="PUBLIC_ACCOUNT">对公帐户</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 form-control-label">开户行所在省份</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="province" name="province"
                                                       placeholder="xx省,例如:广东省"
                                                       class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 form-control-label">开户行所在城市</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="city" name="city"
                                                       placeholder="xx市,例如:深圳市"
                                                       class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 form-control-label">开户行全称</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="bankAccountAddress" name="bankAccountAddress"
                                                       placeholder="xxx银行,与选择的银行名称相同即可"
                                                       class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 form-control-label">收款人手机号</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="moblieNo" name="moblieNo"
                                                       placeholder="必填项"
                                                       class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 form-control-label">金额</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="amount" name="amount"
                                                       onkeyup="value=value.replace(/[^\d.]/g,'')"
                                                       placeholder="单笔最低2元,50000元"
                                                       class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 form-control-label">支付密码</label>
                                            <div class="col-sm-9">
                                                <input type="password" id="smsVerifyCode" name="smsVerifyCode"
                                                       placeholder="必填项"
                                                       class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-7" align="center">
                                                <input type="button" value="提交"
                                                       onclick="form_v.launch_single_withdraw()"
                                                       class="btn btn-primary">
                                            </div>
                                            <label class="col-sm-5 form-control-label" style="color: red">温馨提示：
                                                当前单笔提现手续费为 ¥<label id="sett_fee">2</label> ,
                                                从账户余额中扣取。</label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- JavaScript files-->
{{template "template/js.html"}}
<script type="application/javascript">
    $(function () {
        index.get_account_balance();
    });
</script>
</body>
</html>