/* 公共样式文件 */
input {
	padding-left: 10px;
}

.margin-top-20 {
	margin-top: 20px;
}

.color-red {
	color: red;
}

.text-center {
	text-align: center;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

li {
	list-style: none;
} 
.row {
	margin-left: 0px;
	margin-right: 0px;
}
.modal-body .input-group {
	margin-bottom: 20px;
}

.basic-addon3 {
	font-size: 14px;
	color: green;
}

.select-content {
	display: inline-block;
	margin-right: 20px;
}

.select-content select {
	width: 210px;
	height: 30px;
	text-align: center;
	text-align-last: center;
	padding-left: 5px;
}

.first-input-group .first-menu-error {
	display: inline-block;
	margin-left: 20px;
	padding-top: 6px;
	color: red;
}

.table-caption {
	color: red;
	font-size: 12px;
}

.add-menu {
	text-decoration: center;
}
.add-menu strong {
	/* padding-bottom: 4px; */
	color: skyblue;
}

.add-button {
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right: 30px;
}

.main {
	padding-left: 10px;
}

.menu-table table {
	width: 100%;
}
.menu-table table tbody tr:hover{
	background-color: #e7e7e7;
}
.menu-table table tr th {
	text-align: center;
	border: 1px solid #e7e7e7;
}
.menu-table table tbody tr th {
	font-size: 12px;
	font-weight: normal;
}
.menu-table table button {
	height: 30px;
}

.cut_page {
	line-height: 30px;
	text-align: center;
	margin-top: 20px;
	height: 30px;
	width:100%;
	background-color: skyblue;
	border-radius: 5px;
}

.cut_page li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.cut_page .pre_page:hover {
	color: blue;
	cursor:pointer;
}

.cut_page .next_page:hover {
	color: blue;
	cursor: pointer;
}

.cut_page li input {
	background-color: #e7e7e7;
	height: 25px;
	width: 40px;
	padding: 5px;
	outline: none;
}

.cut_page li button {
	height: 25px;
	width: 50px;
	margin: 0 auto;
	/* text-align: center; */
	line-height: 10px;
	outline: none;
}
.cut_page li select {
	background-color: #e7e7e7;
}

.search {
	margin-bottom: 10px;
	padding: 10px;
	border-bottom: 1px solid #e7e7e7;
}

.search div {
	display: inline;
	margin-right: 20px;
}

.search div{
	text-align: center;
}

.star {
	color:  red;
	font-size: 16px;
	margin-right: 30px;
}

fieldset {
    padding: 3px;
    margin: 0 0 10px 0;
    border: 1px dotted #b8d0d6;
}

fieldset legend {
    border: 0;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
}