<header class="header">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
                <!-- Navbar Header-->
                <div class="navbar-header">
                    <!-- Navbar Brand --><a href="/index/ui/" class="navbar-brand d-none d-sm-inline-block">
                        <div class="brand-text d-none d-lg-inline-block">
                            <img src="../../static/img/logo.png"></div>
                    </a>
                    <!-- Toggle Button--><a id="toggle-btn" href="#"
                                            class="menu-btn active"><span></span><span></span><span></span></a>
                </div>
                <!-- Navbar Menu -->
                <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                    <!-- Logout    -->
                    <li class="nav-item dropdown">
                        <a rel="nofollow" data-target="#" href="/pay_doc.py" target="_blank"
                           class="nav-link language dropdown-toggle">
                            <span class="d-none d-sm-inline"><i
                                        class="icon icon-interface-windows"></i> API文档</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(-9);" onclick="login.loginOut();" class="nav-link logout">
                            <span class="d-none d-sm-inline"><i class="fa fa-sign-out"></i> 安全退出</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>