<!DOCTYPE html>
<html>
<head>
    {{template "template/css.html"}}

</head>
<body>
<div class="page">
    <!-- Main Navbar-->
    {{template "template/header.html"}}
    <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav class="side-navbar">
            <!-- Sidebar Header-->
            <div class="sidebar-header d-flex align-items-center">
                <a href="/index/ui/">
                    <div class="avatar">
                        <img src="../../static/img/avatar-1.jpg" alt="..."
                             class="img-fluid rounded-circle">
                    </div>
                </a>
                <a href="/index/ui/">
                    <div class="title">
                        <h1 class="h4">{{.userName}}</h1>
                        <p>欢迎您！</p>
                    </div>
                </a>
            </div>

            <!-- Sidebar Navidation Menus--><span class="heading">主菜单</span>
            <ul class="list-unstyled">
                <li class="active"><a href="/index/ui/" style="color: black;"> <i class="icon-home"></i>首页 </a></li>
                <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"
                       style="color: black;"> <i
                                class="icon icon-user"></i>账户管理 </a>
                    <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                        <li><a href="/user_info/show_modify_ui">修改密码</a></li>
                        <li><a href="/user_info/show_ui">设置支付密码</a></li>
                        <li><a href="/index/show_pay_way_ui">通道配置</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#exampledropdownDropdown3" aria-expanded="false" data-toggle="collapse"> <i
                                class="icon icon-rss-feed"></i>商户管理 </a>
                    <ul id="exampledropdownDropdown3" class="collapse list-unstyled ">
                        <li><a href="/user_info/show_merchant_ui">商户列表</a></li>
                    </ul>
                </li>
                <li><a href="#exampledropdownDropdown1" aria-expanded="false" data-toggle="collapse"> <i
                                class="icon icon-presentation" style="color: black;"></i>订单管理 </a>
                    <ul id="exampledropdownDropdown1" class="collapse list-unstyled ">
                        <li><a href="/trade/show_ui">订单记录</a></li>
                        <li><a href="/trade/show_complaint_ui">投诉列表</a></li>
                    </ul>
                </li>
                <li><a href="#exampledropdownDropdown2" aria-expanded="false" data-toggle="collapse"> <i
                                class="icon icon-bill" style="color: black;"></i>财务管理 </a>
                    <ul id="exampledropdownDropdown2" class="collapse list-unstyled ">
                        <li><a href="/withdraw/show_ui">申请提现</a></li>
                        <li><a href="/multi_withdraw/show_multi_ui">批量申请提现</a></li>
                        <li><a href="/withdraw/show_list_ui">提现记录</a></li>
                        {{/*                        <li><a href="/recharge/show_recharge_list_ui">自定义记录</a></li>*/}}
                        <li><a href="/history/show_history_list_ui">资产变动明细</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="content-inner">
            <!-- Page Header-->
            <header class="page-header">
                <div class="container-fluid">
                    <h2 class="no-margin-bottom">账户信息</h2>
                </div>
            </header>
            <!-- Dashboard Counts Section-->
            <section class="dashboard-counts ">
                <div class="container-fluid">
                    <div class="row bg-white has-shadow">
                        <!-- Item -->
                        <div class="col-xl-3 col-sm-4">
                            <div class="item d-flex align-items-center">
                                <div class="icon bg-green"><i class="icon icon-presentation"></i></div>
                                <div class="title"><span>账户余额<br><small>&nbsp;</small></span>
                                    <div class="progress">
                                        <div role="progressbar" style="width: 80%; height: 4px;" aria-valuenow="55"
                                             aria-valuemin="0" aria-valuemax="100"
                                             class="progress-bar bg-green"></div>
                                    </div>
                                </div>
                                <div class="number"><strong id="balanceAmt">0.00</strong></div>
                            </div>
                        </div>
                        <!-- Item -->
                        <div class="col-xl-3 col-sm-4">
                            <div class="item d-flex align-items-center">
                                <div class="icon bg-red"><i class="icon icon-check"></i></div>
                                <div class="title"><span>可提现金额<br><small>&nbsp;</small></span>
                                    <div class="progress">
                                        <div role="progressbar" style="width: 80%; height: 4px;" aria-valuenow="70"
                                             aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                                    </div>
                                </div>
                                <div class="number"><strong id="settAmount">0.00</strong></div>
                            </div>
                        </div>
                        <!-- Item -->
                        <div class="col-xl-3 col-sm-4">
                            <div class="item d-flex align-items-center">
                                <div class="icon bg-blue"><i class="icon icon-flask"></i></div>
                                <div class="title"><span>冻结金额<br><small>(出款在途金额)</small></span>
                                    <div class="progress">
                                        <div role="progressbar" style="width: 80%; height: 4px;" aria-valuenow="50"
                                             aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-blue"></div>
                                    </div>
                                </div>
                                <div class="number"><strong id="freezeAmt">0.00</strong></div>
                            </div>
                        </div>
                        <!-- Item -->
                        <div class="col-xl-3 col-sm-4">
                            <div class="item d-flex align-items-center">
                                <div class="icon bg-secondary"><i class="icon icon-interface-windows"></i></div>
                                <div class="title"><span>押款金额<br><small>(D+1 结算金额)</small></span>
                                    <div class="progress">
                                        <div role="progressbar" style="width: 80%; height: 4px;" aria-valuenow="50"
                                             aria-valuemin="0" aria-valuemax="100"
                                             class="progress-bar bg-secondary"></div>
                                    </div>
                                </div>
                                <div class="number"><strong id="amountFrozen">0.00</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Page Header-->
            <header class="page-header">
                <div class="container-fluid">
                    <h2 class="no-margin-bottom">通道配置
                        <small style="font-size: 0.7em;">&nbsp;&nbsp;&nbsp;
                            <a href="/index/show_pay_way_ui">>>>> 查看详情</a></small>
                        <small style="font-size: 0.7em;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总订单数：
                            <label id="orders">0</label></small>
                        <small style="font-size: 0.7em;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总成功订单数：
                            <label id="suc_orders">0</label></small>
                        <small style="font-size: 0.7em;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;成功率：
                            <label id="suc_rate">0%</label> &nbsp;&nbsp;(含已删除通道配置的订单)</small></h2>
                </div>
            </header>
            <!-- Projects Section-->
            <section class="projects no-padding-bottom">
                <div class="container-fluid">
                    <div class="project">
                        <div class="row bg-white has-shadow">
                            <div class="left-col col-lg-1 d-flex align-items-center justify-content-between">
                                <h3 class="h4"># </h3>
                            </div>
                            <div class="left-col col-lg-3 d-flex align-items-center justify-content-between">
                                <h3 class="h4">通道名称<small>&nbsp;&nbsp;通道名相同但产品不同</small></h3>
                            </div>
                            <div class="left-col col-lg-2 d-flex align-items-center justify-content-between">
                                <h3 class="h4">订单数</h3>
                            </div>
                            <div class="left-col col-lg-2 d-flex align-items-center justify-content-between">
                                <h3 class="h4">成功订单数</h3>
                            </div>
                            <div class="left-col col-lg-2 d-flex align-items-center justify-content-between">
                                <h3 class="h4">成功率</h3>
                            </div>
                        </div>
                    </div>

                    <div id="your_showtime">

                    </div>
                </div>
            </section>
            <!-- Page Footer
            <footer class="main-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Copyright &copy; 2019.Company name All rights reserved.More Templates cs - Collect
                                from cs</p>
                        </div>
                        <div class="col-sm-6 text-right">
                            <p></p>
                        </div>
                    </div>
                </div>
            </footer>
            -->
        </div>
    </div>
</div>
{{template "template/js.html"}}

<script type="application/javascript">
    $(function () {
        index.getAccountInfo();
        index.getOrdersInfo();
        setTimeout(function () {
            index.loadTradeRecord();
        }, 1000);
    });
</script>
</body>
</html>